<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itread">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChangeNicknameActivity"></activity>
        <activity android:name=".GetEmailNumberActivity" />
        <activity
            android:name=".FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookCommentsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookIntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteBookCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBookCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyShortCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookListAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.itread.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>