<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itread">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="爱特读书"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GetEmailNumberActivity"></activity>
        <activity
            android:name=".FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteBookCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBookCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyShortCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookListAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>